@model RegisterWaitModel
@{
    ViewBag.Title = "Lokad, Register for Free Trial";
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

@section Head
{
    <script type="text/javascript">

        $(document).ready(function () { setRefresh(); });


        function setRefresh() {
            setTimeout(function () { callRefresh(); }, 1500);
        }

        var checkUrl = '@Url.Action("checkstatus",new {id = Model.RegistrationId})';

        // don't cache this Reg request
        function callRefresh() {
            $.ajax({
                url: checkUrl,
                cache: false,
                dataType: "html",
                success: function (data) {
                    $("#results").html(data);
                    setRefresh();
                }
            });
        }


    </script>


}
<div class="container">
    <div class="row">
        <div class="span8">
            <h1>Registering <small>for a Free Trial</small></h1>

        </div>
    </div>
    <div class="row">
        <div class="span5">
            <div class="well">
                @using (Html.BeginForm("correct", "register"))
                {
                    @Html.HiddenFor(x => x.CompanyName)
                    @Html.HiddenFor(x => x.RegistrationId)

                    @Html.HiddenFor(x => x.ContactPhone)

                    
                    @Html.HiddenFor(x => x.ContactPhone)
                    @Html.HiddenFor(x => x.Email)
                    @Html.HiddenFor(x => x.Password)
                    @Html.HiddenFor(x => x.RealName)
                    <div id="results">
                        Processing...
                    </div>
                }
            </div>
        </div>
        <div class="offset1 span6">
            
            
            
            <div style="padding-top: 40px">
                <blockquote>
                    <p style="font-size: 24px; font-style: italic; line-height: 30px;">
                        The Lokad forecasting solution allows us to precisely forecast our sales 
            and to optimize our inventory accordingly. The result is there: we are 
            maintaining a 99% customer satisfaction level and deliver food that is 
            often fresher than what can be found at local pet stores. 
                    </p>
                <small style="font-size: 16px;padding-top: 10px;">Anthony Holloway, CEO at k9cuisine</small>
            </blockquote>    
            </div>

            
            

            
        </div>
    </div>
</div>








